{{#if session.loggedIn}}
<div class="dashHomeButton">
    {{!-- Welcome Message --}}
    <div>
        <a href="/">
        <h1 class="title 1" style="">Welcome to GoalMinder</h1>
        </a>
    </div>
    {{!-- QR Code placeholder --}}
    <div class="qrCode" style="margin-bottom:3px;">
        <img src="/assets/HomepageQR.png" height="125" width="125">
            <div class="qrShare">
                <h5>Share your GoalMinder!</h5>
            </div>
    </div>
    <!-- Daily Quote Section Placeholder -->
    <div class="quoteSection">
        <h5>The journey of a thousand miles begins with a single step.</h5>
    </div>
</div>

<div id="calendar"></div>

<div class="dashUpcomingDatesSection">
    <div class="dashEventsList">
        <h3>Upcoming Events:</h3>
            <ul class="dashUpcomingEvents">
            </ul>
    </div>

    <div class="dashGoalsList">
        <h3>Upcoming Goals:</h3>
            <ul class="dashUpcomingGoals">
            </ul>
    </div>
</div>

<!--<form action="/event/create" method="POST"></form>-->
<div class="title is-ancestor" style="padding:6px;">
        
        {{!-- adding an event --}}
    <div class="title is-parent is-4">
        <article class="title is-child box is-extra-small">
            <div class="dashAddEvent">
                <h3>Add an event</h3>
                <div>Name: <input type="text" id="eventName"></div><br>
                <div>Description: <input type="text" id="eventDescription"></div><br>
                <div>Select Date: <input type="date" id="eventDate"></div><br>
                <div>Select Time: <input type="time" id="eventTime"></div><br>
                <button onclick="saveEvent()">Save Event</button>
            </div>
        </article>
    </div>

        <!--adding a goal-->
    <div class="title is-parent is-4">
        <article class="title is-child box is-extra-small">
            <div class="dashAddGoal">
            <h3>Add a goal</h3>
            <div>Name: <input type="text" id="goalName"></div><br>
            <div>Description: <input type="text" id="goalDescription"></div><br>
            <div>Select Date: <input type="date" id="goalDate"></div><br>
            <button onclick="saveGoal()">Save Goal</button>
            </div>
        </article>
    </div>
</div>
{{else}}
<div class="block">
    <div class="box">
    You will need to login or signup before continuing ...
    </div>
    <div class="logInSignUp container" style="">
        <div class="title is-parent">
            <article>
                <div class="buttons is-flex is-justify-content-center">
                    <a class="button is-primary" href="/register">Sign Up</a>
                    <a class="button is-light" href="/login">Log In</a>
                </div>
            </article>
        </div>
    </div>
</div>
{{/if}}



