
<div class="title is-ancestor">
    <div class="title is-parent is-4 box">
        <article class="title is-child ">
            <a class="goalMinder" href="/">
                <h1>GoalMinder</h1>
            </a>
            <div class="subtitle">
                <strong>A unified platform</strong> for seamlessly organizing, monitoring, and sharing both events and goals
            </div>
        </article>
    </div>
</div>

  {{#if session.loggedIn}}
  <div id="notification" class="notification is-info is-light">
    <button onclick="deleteDiv()" class="delete"></button>
    You are currently logged in !
  </div>
  {{else}}
  <div class="logInSignUp container">
  <div class="title is-parent">
    <article>
      <div class="buttons is-flex is-justify-content-center">
        <a class="button is-primary" href="/register">Sign Up</a>
        <a class="button is-light" href="/login">Log In</a>
      </div>
    </article>
  </div>
</div>
{{/if}}

  <div id="calendar"></div>
