
  
    <div class="title is-ancestor">
    <div class="title is-parent is-4">
      <article class="title is-child box">
          <a class="goalMinder" href="/"><h1>GoalMinder</h1></a>
      <div class="subtitle">
        <strong>A unified platform</strong> for seamlessly organizing, monitoring, and sharing both events and goals
        </div>
      </article>
    </div>
  </div>

  {{#if session.loggedIn}}
  {{else}}
  <div class="logInSignUp container">
  <div class="title is-parent">
    <article>
      <div class="buttons is-flex is-justify-content-center">
        <a class="button is-primary" href="/register">Sign Up</a>
        <a class="button is-light" href="/login">Log In</a>
      </div>
    </article>
  </div>
</div>
{{/if}}
